<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
  <!-- <link rel="stylesheet" type="text/css" href="/static/styles/style.css">   -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet"><!---text URL---->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  
  <br>
  <br>
</head>

<!-- nav bar start    -->

<body>
  <div class="header-index-t" id="topheader">
    <nav class="navbar navbar-expand-lg fixed-top ">
      <div class="container" text-uppercase p-2">

        <a class="navbar-brand font-weight-bold text-white" href="#">COVID-19</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto text-uppercase text-white ">
            <li class="nav-item active">
              <a class="nav-link" href="/home/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/service/">Service</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/health/">Your health</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/status">Current Status</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact/">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- nav bar end    -->

<!-- Form Start    -->
    <div class="container">
      <h2 class="text-center mt-3">Self Assesment Test</h2>
      <form action="/" method="POST">
        <div class="form-group">
          <label for="fever">enter fever value</label>
          <input type="text" class="form-control" id="fever" name="fever" placeholder="enter fever value">
        </div>


        <div class="form-group">
          <label for="age">enter your age</label>
          <input type="text" class="form-control" id="age" name="age" placeholder="enter your age">
        </div>

        <div class="form-group">
          <label for="bodypain">Body Pain</label>
          <select class="form-control custom select" id="bodypain" name="bodypain">
            <option value="0">No Pain</option>
            <option value="1">Severe Pain</option>
          </select>
        </div>

        <div class="form-group">
          <label for="runnynose">runny Nose</label>
          <select class="form-control custom select" id="runnynose" name="runnynose">
            <option value="1">Yes</option>
            <option value="0">No</option>
          </select>
        </div>


        <div class="form-group">
          <label for="diffbreath">Breath difficulty</label>
          <select class="form-control custom select" id="diffbreath" name="diffbreath">
            <option value="-1">No Difficulty</option>
            <option value="0">Little Difficulty</option>
            <option value="1">Severe Difficulty</option>
          </select>
        </div>


        <button class="btn btn-primary">Submit</button>
      </form>
    </div>

     
    <br>
    <br>
<!-- Form End   -->

<!--************************* Footer Start *************** -->
<footer class="footersection" id="footerdiv">

  <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-12 footer-div">
          <div>
              <h3>About Corona Virus</h3>
              <p> Most people who fall sick with COVID-19 will 
                experience mild to moderate symptoms and recover without special treatment.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-12 footer-div align-items-center">
          <div>
              <h3>NAVIGATION LINKS</h3>
                <li><a href="/home/">Home</a></li>
                <li><a href="/service/">Service</a></li>
                <li><a href="/health/">Your Health</a></li>
                <li><a href="/status/">Current Situation</a></li>
                <li><a href="/contact/">Contact</a></li>
          </div>
        </div>

        <div class="col-lg-4 col-md-12 col-12 footer-div">
          <div>
              <h3>Subscribe for Updates</h3>
              <p> Get a roundup of the most important and intriguing stories, delivered to your inbox.</p>

                <div class="container newsletter-main">
                    <div class="row">
                      <div class="col-lg-12  col-12">
                          <div class="input-group mb-3">
                              <input type="text" class="form-control news-input" placeholder="Your Email"> 
                            <div class="input-group-append">
                              <span class="input-group-text">Subscribe</span>
                            </div>
                          </div>
                      </div>
                    </div>
                </div>

          </div>
        </div>
      </div>
            <div class="mt-5 text-center">
              <p>Copyright @ 2020 All right reserved | MUHAMMAD ALI  </p>
            </div>
        <div class="scrolltop float-right">
          <i class="fa fa-arrow-up" onclick="topFunction()" id="myBtn"></i>
        </div>
  </div>
</footer>

<!--************************* Footer End *************** -->

<!--************************* JS Start*************** -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>
  <script language="JavaScript" src="http://www.geoplugin.net/javascript.gp" type="text/javascript"></script>
  <script src="/static/js/countries.js"></script> 
  <script src="/static/js/app.js"></script>

  <!--*************************JS End*************** -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js" integrity="sha256-jDnOKIOq2KNsQZTcBTEnsp76FnfMEttF6AV2DF2fFNE=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js" integrity="sha256-JtQPj/3xub8oapVMaIijPNoM0DHoAtgh/gwFYuN5rik=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<!--*************************scroll *************** -->
<script>

$('.count').counterUp({
  delay: 10,
  time: 3000
})


  /* //Get the Button */

mybutton = document.getElementById("myBtn");

//when the user scrolls down 20px from the top of the document, show the button

window.onscroll = function() {scrollFunction()};

function scrollFunction(){
if (Document.body.scrollTop > 20 || document.documentElement.scrollTop > 20){
  mybutton.style.display = "block";
} else {
  mybutton.style.display = "none";
}
}


//when the user click onthe button, scroll to the top of the document

function topFunction()  {
document.body.scrollTop = 0; //for safari
document.documentElement.scrollTop = 0; // for chrome, firefox, IE and Opera
}

</script>
</body>

</html>